cal_lid_l1:
  folder: "/home/ticjo/Documents/Pro/Recherche/codes/DATA/CALIOP"
  version: "5.00"
  type: "Standard"
  path_format: "CAL_LID_L1.v{version}/{year}/{year}_{month:02d}_{day:02d}"

processing:
  save_development_data: false
  process_up_to_40km: false
  make_classification: false

output:
  folder: "/work_users/vaillant/data/2D_McDA/"
  path_format: "2D_McDA.v{version}/{year}/{year}_{month:02d}_{day:02d}"
  filetype: "netCDF"
